body{
    background:url("../images/body_patterns/compressed/bg-light-4858.png");
}

.form_wrapper{
    width: 250px;
    height: 266px;
    left: 50%;
    margin-left: -125px;
    position: absolute;
    top: 50%;
    margin-top: -158.5px;
}
.relative{
    position:relative
}
.myspin{
    visibility:hidden;
    color:#3071a9;
    margin-left:5px
}
.block{
    visibility:visible
}
.red{
    color:#CC0000
}
.nav>li.active>a{
    text-decoration: none;
    background-color: #eee;
}
.my-1 td{
    vertical-align:middle !important;
    font-weight:bold
}
.my-1:hover td{
    background-color:#f5f5f5 !important
}
.my-2{
    vertical-align:middle !important
}
.my-2 p{
    margin:0 !Important
}
footer{
    background-repeat: repeat-x;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
    background-color: #F2F2F2;
    border-color: #e7e7e7;
}
footer p{
    margin:0
}
.my-3{
    display:table;
    margin:5px auto
}
.my-4{
    background:rgba(255,255,255,0.5);
    padding:5px 0
}
.my-4 span{
    margin-left:14px
}
textarea{
    min-width:100% !important;
    max-width:100% !Important
}
.my-5{
    display:block;
    float:left;
    margin:5px 0 0 5px
}
.my-6,
.my-7{
    float:left;
    margin-bottom:5px
}
.list-group-item.active{
    position:relative
}
.list-group-item.active i{
    right: -15px;
    top: 50%;
    margin-top:-9px;
    width: 12px;
    height: 18px;
    color: #428bca;
    position: absolute;
    font-size: 20px
}
.bold{
    font-weight:bold
}
.my-8 .alert{
    position:relative;
}
.my-8 .alert .close{
    position: absolute;
    right: 2px;
    top: 1px;
    font-size: 15px;
}
.my-9{
    margin: 18px 0 0 0;
    font-size: 18px;
}
.pagination .active a,
.pagination .active a:hover{
    color:#E62525;
    font-weight:700
}
.form-1{
    margin:0 0 1em 0;
    padding:0.5em;
    border-bottom:1px solid #ccc;
    background-image: -webkit-gradient(linear, top, bottom, color-stop(0, #CCCCCC), color-stop(1, #F0F0F0));
    background-image: -o-linear-gradient(top, #CCCCCC, #F0F0F0);
    background-image: -moz-linear-gradient(top, #CCCCCC, #F0F0F0);
    background-image: -webkit-linear-gradient(top, #CCCCCC, #F0F0F0);
    background-image: linear-gradient(to bottom, #CCCCCC, #F0F0F0)

}
.form-1 .mybtn-1{
    margin:0 0 0 1em
}
.orders .ins td:nth-child(2),
.orders .ins td:nth-child(3){
    background:#FFE5E5 !important
}
.red{
    color:#FF1414
}
.pr_name{
    color:#FF1414;
    margin-left:0 !important
}
.product .form-1 .form-group{
    margin-bottom:0
}
::selection{
    background:#8fc045;
    color:#fff
}

@media (max-width:991px){
    body{
        background:#E7E7E7
    }
    .my-10{
        font-size: 18px !important;
        margin: 5px 0 0 0;
    }

}
@media (max-width:768px) and (orientation:landscape){
    .login .form_wrapper{
        margin-top:0;
        top:2%
    }
    .login .form_wrapper .form-group{
        margin-bottom:5px !important
    }
    .login .form_wrapper .help-block{
        display:none
    }

}
@media (max-width:768px){
    .my-9{
        display:table
    }
}