<div class="col-md-10">
    <h1 class="h1 text-primary my-4"><span><?=$h1?></span></h1>
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><span class="h4"><?=$last_orders_text.count($array)?> <?=$all_orders_text?> <?=$count_all_orders?></span></div>
            <div class="panel-body">
              <div class='table-responsive'>
                    <table class='table table-bordered table-hover table-condensed'>
                        <tbody>
                            <tr class='active my-1'>
                                <td><?=$name_text?></td>
                                <td><?=$phone_text?></td>
                                <td><?=$adress_text?></td>
                                <td><?=$comment_text?></td>
                                <td><?=$product_id_text?></td>
                                <td><?=$order_id_text?></td>
                                <td><?=$date_text?></td>
                                <td><?=$status_text?></td>
                            </tr>
                            <?php for($i=0; $i<count($array);$i++){?>
                            <tr>
                                <td><?=$array[$i]["client_name"]?></td>
                                <td><?=$array[$i]["client_phone"]?></td>
                                <td><?=$array[$i]["delivery_adress"]?></td>
                                <td><?=$array[$i]["order_comment"]?></td>
                                <td><?=$array[$i]["product_id"]?></td>
                                <td><?=$array[$i]["id"]?></td>
                                <td><?=$admin_obj->getTime('d.m.Y H:i:s', $array[$i]["order_date"])?></td>
                                <td><?=$array[$i]["status"]?></td>
                            </tr>
                            <tr>
                                <td colspan="8"><a href="engine_orders.php?order_id=<?=$array[$i]['id']?>" role="button" class="btn btn-primary btn-xs" target="_blank"><?=$look_order_text?><?=$array[$i]['id']?></a></td>
                            </tr>
                            <?php } ?>
                            <tr>
                                <td colspan="8" class="my-2"><p class="text-center"><a href="engine_orders.php?page=1" role="button" class="btn btn-primary btn-xs"><?=$look_all_order_text?></a></p></td>
                            </tr>
                        </tbody>
                    </table>
              </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading"><span class="h4"><?=$last_products_text.count($array1)?> <?=$all_products_text?> <?=$count_all_products?></span></div>
            <div class="panel-body">
                 <div class='table-responsive'>
                    <table class='table table-bordered table-hover table-condensed'>
                        <tbody>
                            <tr class='active my-1'>
                                <td><?=$product_img_text?></td>
                                <td><?=$product_name_text?></td>
                                <td><?=$product_id_text?></td>
                                <td><?=$product_description_text?></td>
                                <td><?=$product_price_text?></td>
                            </tr>
                            <?php for($i=0; $i<count($array1);$i++){?>
                            <tr>
                                <td><a href="product.php?product_id=<?=$array1[$i]['product_id']?>" title="<?=$title_edit_product_text?>"><img src="<?=$array1[$i]["product_img_url"]?>" class="img-thumbnail" alt=""/></a></td>
                                <td><?=$array1[$i]["product_name"]?></td>
                                <td><?=$array1[$i]["product_id"]?></td>
                                <td><?=$array1[$i]["product_br_description"]?></td>
                                <td><?=$array1[$i]["product_price"]?></td>
                            </tr>
                            <tr>
                                <td colspan="5"><a href="product.php?product_id=<?=$array1[$i]['product_id']?>" role="button" class="btn btn-primary btn-xs" target="_blank"><?=$look_product_text?><?=$array1[$i]["product_id"]?></a></td>
                            </tr>
                            <?php } ?>
                            <tr>
                                <td colspan="5" class="my-2"><p class="text-center"><a href="engine_products.php?page=1" role="button" class="btn btn-primary btn-xs"><?=$look_all_products_text?></a></p></td>
                            </tr>
                        </tbody>
                    </table>
              </div>
            </div>
        </div>
    </div>
</div>

