<div class="col-md-10">
<!--system_messages-->
<?php if($show_message){?>
    <?php switch($msg_id){
        case 1:?>
            <div class="alert alert-success" role="alert"><?=$system_message_id_3; for($i=0; $i<count($_SESSION["array_del_products"]); $i++){echo $_SESSION["array_del_products"][$i].",";}?><a href="session_destroy.php" class="close"><i class="fa fa-times"></i></a></div>
        <?php break;
        case 2:?>
            <div class="alert alert-success" role="alert"><?=$system_message_id_5.$product_add_id;?><a href="session_destroy.php" class="close"><i class="fa fa-times"></i></a></div>
        <?php break;
        case 3:?>
            <div class="alert alert-success" role="alert"><?=$system_message_id_10.$product_delete_id000;?><a href="session_destroy.php" class="close"><i class="fa fa-times"></i></a></div>
        <?php break;
    }
} ?>
<!--/system_messages-->
    <h1 class="h1 text-primary my-4"><span><?php echo $h1; if($is_number){ echo $page_per.$pg;}?></span></h1>
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="h4">
                    <?=$all_products_text?>
                    <span class="badge">
                        <?=$count_all_posts_in_bd?>
                    </span>
                    <?=$count_post_per_page?>
                    <span class="badge">
                        <?=$count_posts?>
                    </span>
                </span>
            </div>

            <div class="panel-body">

            <form class="form-inline myform-2" role="form" method="POST" action="">

            <!--option_block-->
                <div class="form-1">
                <?php if($count_all_posts_in_bd>=1){?>
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox1"><?=$select_all_text?>
                        </label>
                    </div>
                <?php } ?>
                    <div class="form-group">
                    <?php if($count_all_posts_in_bd>=1){?>
                       <button type="submit" class="btn btn-default mybtn-1"><?=$confirm_button_text?></button>
                    <?php } ?>
                       <a class="btn btn-default" href="add_product.php" role="button"><?=$add_product_text?></a>
                    </div>
                </div>
            <!--/option_block-->
              <?php if($count_all_posts_in_bd>=1){?>
              <div class='table-responsive'>
                    <table class='table table-bordered table-hover table-condensed ins'>
                        <tr class='active my-1'>
                            <td></td>
                            <td><?=$product_img_text?></td>
                            <td><?=$product_name_text?></td>
                            <td><?=$product_id_text?></td>
                            <td><?=$product_description_text?></td>
                            <td><?=$product_price_text?></td>
                            <td><?=$product_articul_text?></td>
                        </tr>
                            <?php for($i=0; $i<count($array);$i++){?>
                            <tr>
                                <td><input type="checkbox" id="inlineCheckbox2" value="<?=$array[$i]["product_id"]?>" name="delete1[]"></td>
                                <td><a href="product.php?product_id=<?=$array[$i]['product_id']?>" title="<?=$title_edit_product_text?>"><img src="<?=$array[$i]["product_img_url"]?>" class="img-thumbnail" alt=""/></a></td>
                                <td><?=$array[$i]["product_name"]?></td>
                                <td><?=$array[$i]["product_id"]?></td>
                                <td><?=$array[$i]["product_br_description"]?></td>
                                <td><?=$array[$i]["product_price"]?></td>
                                <td><?=$array[$i]["product_articul"]?></td>
                            </tr>
                            <tr>
                                <td colspan="7"><a href="product.php?product_id=<?=$array[$i]['product_id']?>" role="button" class="btn btn-primary btn-xs" target="_blank"><?=$look_product_text?><?=$array[$i]["product_id"]?></a></td>
                            </tr>
                            <?php } ?>

                    </table>

                    <!--Pagination-->
                    <?php if ($count_pages > 1) {?>
                    <div id="pagination">
                        <ul class="pagination">
                        <?php if ($active != 1) { ?>
                            <li><a href="<?=$url?>?page=1" title="<?=$first_page_text?>"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a></li>
                            <li><a href="<?php if ($active == 2) { ?><?=$url?>?page=1<?php } else { ?><?=$url_page.($active - 1)?><?php } ?>" title="<?=$previous_page_text?>"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
                        <?php } ?>
                        <?php for ($k = $start; $k <= $end; $k++) { ?>
                            <?php if ($k == $active) { ?><li class="disabled active"><a href="#" onclick="return false" title="<?=$current_page_text?>"><?=$k?></a></li><?php } else { ?><li><a href="<?php if ($k == 1) { ?><?=$url?>?page=1<?php } else { ?><?=$url_page.$k?><?php } ?>"><?=$k?></a></li><?php } ?>
                        <?php } ?>
                        <?php if ($active != $count_pages) { ?>
                            <li><a href="<?=$url_page.($active + 1)?>" title="<?=$next_page_text?>"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                            <li><a href="<?=$url_page.$count_pages?>" title="<?=$last_page_text?>"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></li>
                        <?php } ?>
                        </ul>
                    </div>
                   <?php } ?>
                    <!--/Pagination-->
              </div>
              <?php } else{?>
                    <div class="alert alert-danger" role="alert"><?=$system_message_id_4; ?></div>
             <?php } ?>
              </form>

        </div>
    </div>
</div>

