<div class="col-md-10">

<!--system_messages-->
<?php if($show_message){?>
    <?php switch($msg_id){
        case 1:?>
            <div class="alert alert-success" role="alert"><?=$system_message_id_1; for($i=0; $i<count($_SESSION["array_del_orders"]); $i++){echo $_SESSION["array_del_orders"][$i].",";}?><a href="<?=$cut_patch;?>?page=1" class="close"><i class="fa fa-times"></i></a></div>
        <?php break;
    }
} ?>
<!--/system_messages-->

    <h1 class="h1 text-primary my-4"><span><?php echo $h1; if($is_number){ echo $page_per.$pg;}?></span></h1>
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="h4">
                    <?=$all_orders_text?>
                    <span class="badge">
                        <?=$count_all_posts_in_bd?>
                    </span>
                    <?=$count_post_per_page?>
                    <span class="badge">
                        <?=$count_posts?>
                    </span>
                </span>
            </div>
            <div class="panel-body">
             <?php if($count_all_posts_in_bd>=1){?>
            <form class="form-inline myform-2" role="form" method="POST" action="">

            <!--option_block-->
                <div class="form-1">
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox1"><?=$select_all_text?>
                        </label>
                    </div>
                    <div class="form-group">
                       <button type="submit" class="btn btn-default mybtn-1"><?=$confirm_button_text?></button>
                    </div>
                </div>
            <!--/option_block-->

              <div class='table-responsive'>
                    <table class='table table-bordered table-hover table-condensed ins'>
                        <tr class='active my-1'>
                            <td></td>
                            <td><?=$name_text?></td>
                            <td><?=$phone_text?></td>
                            <td><?=$adress_text?></td>
                            <td><?=$comment_text?></td>
                            <td><?=$product_id_text?></td>
                            <td><?=$order_id_text?></td>
                            <td><?=$date_text?></td>
                            <td><?=$status_text?></td>
                        </tr>
                            <?php for($i=0; $i<count($array);$i++){?>
                            <tr>
                                <td><input type="checkbox" id="inlineCheckbox2" value="<?=$array[$i]["id"]?>" name="delete[]"></td>
                                <td><?=$array[$i]["client_name"]?></td>
                                <td><?=$array[$i]["client_phone"]?></td>
                                <td><?=$array[$i]["delivery_adress"]?></td>
                                <td><?=$array[$i]["order_comment"]?></td>
                                <td><?=$array[$i]["product_code"]?></td>
                                <td><?=$array[$i]["id"]?></td>
                                <td><?=$orders_obj->getTime('d.m.Y H:i:s', $array[$i]["order_date"])?></td>
                                <td><?=$array[$i]["status"]?></td>
                            </tr>
                            <tr>
                                <td colspan="9"><a href="engine_orders.php?order_id=<?=$array[$i]['id']?>" role="button" class="btn btn-primary btn-xs" target="_blank"><?=$look_order_text?><?=$array[$i]['id']?></a></td>
                            </tr>
                            <?php } ?>
                    </table>

                    <!--Pagination-->
                    <?php if ($count_pages > 1) {?>
                    <div id="pagination">
                        <ul class="pagination">
                        <?php if ($active != 1) { ?>
                            <li><a href="<?=$url?>?page=1" title="<?=$first_page_text?>"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a></li>
                            <li><a href="<?php if ($active == 2) { ?><?=$url?>?page=1<?php } else { ?><?=$url_page.($active - 1)?><?php } ?>" title="<?=$previous_page_text?>"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
                        <?php } ?>
                        <?php for ($k = $start; $k <= $end; $k++) { ?>
                            <?php if ($k == $active) { ?><li class="disabled active"><a href="#" onclick="return false" title="<?=$current_page_text?>"><?=$k?></a></li><?php } else { ?><li><a href="<?php if ($k == 1) { ?><?=$url?>?page=1<?php } else { ?><?=$url_page.$k?><?php } ?>"><?=$k?></a></li><?php } ?>
                        <?php } ?>
                        <?php if ($active != $count_pages) { ?>
                            <li><a href="<?=$url_page.($active + 1)?>" title="<?=$next_page_text?>"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                            <li><a href="<?=$url_page.$count_pages?>" title="<?=$last_page_text?>"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></li>
                        <?php } ?>
                        </ul>
                    </div>
                   <?php } ?>
                   <!--/Pagination-->
              </div>
             </form>
             <?php } else{?>
                    <div class="alert alert-danger" role="alert"><?=$system_message_id_2; ?></div>
             <?php } ?>
        </div>
    </div>
</div>

