</div>
</div>
<?php if($current_url!="/admin/controller/login.php"):?>
<!--bottom-->
<footer>
    <div class="container-fluid">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <p class="text-center"><a href="http://semen.in.ua" target="_blank" class="my-3"><?=$copy_text?></a></p>
        </div>
    </div>
</footer>
<!--/bottom-->
<?php endif;?>

<?php echo "\n";
foreach($js_footer as $v){
    if($v["src"]!=""){?>
        <script src="<?=$v['src']?>"></script>
<?php }
}?>
    </body>
</html>