<div class="form_wrapper">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><?=$auth_text?></div>
            <div class="panel-body">
                <form role="form" action="../controller/login.php" method="POST" name="auth" class="<?=$error_class?>" id="login_form">
                    <div class="form-group">
                        <input type="text" class="form-control" id="login" placeholder="<?=$login_placeholder_text?>" name="login" value="<?=$login?>">
                        <p class="help-block"></p>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="pass" placeholder="<?=$password_placeholder_text?>" name="password" value="<?=$password?>">
                        <p class="help-block"></p>
                    </div>
                    <div class="visible-lg visible-md">
                        <button type="submit" class="btn btn-primary btn-sm" name="auth" onclick="visibleLoadIcon();"><?=$login_button_text?></button><i class="fa fa-spin fa-spinner myspin"></i>
                    </div>
                    <div class="visible-sm visible-xs">
                        <button type="submit" class="btn btn-block btn-primary btn-sm" name="auth" onclick="visibleLoadIcon();"><?=$login_button_text?></button><i class="fa fa-spin fa-spinner myspin my-10"></i>
                    </div>
                </form>
                <p class="text-info text-center">
                    <a class="btn btn-link" href="http://semen.in.ua" role="button" target="_blank">&copy; 2016. Mr's</a>
                </p>
            </div>
        </div>
    </div>
</div>