<div class="col-md-10">
                <?php if($error):?>
                    <div class="alert alert-danger" role="alert">Данный товар остутствует в базе данных! Проверьте URL.</div>
                <?php endif; if($error!=true){?>
                <h1 class="h1 text-primary my-4"><span>Товар: <span class="pr_name">"<?=$product_name?>"</span></span></h1>

                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span class="h4">Редактировать товар:</span>
                        </div>
                        <div class="panel-body">
                            <div class="form-1">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default mybtn-1">Удалить товар</button>
                                </div>
                            </div>
                            <form class="form-horizontal update_product_form" action="" method="POST" enctype="multipart/form-data">
                             <!--<form class="form-horizontal" action="#" method="POST">-->
                                <div class="form-group">
                                    <label for="product_post_name" class="col-sm-2 control-label">Название товара*</label>
                                     <div class="col-sm-10 name_wrapper">
                                        <input type="text" class="form-control product_name" value="<?php echo $product_name;?>" name="product_post_name">
                                        <p class="help-block  help-product_name">Минимум 10 символов. Макс.254 символа</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="product_post_articul" class="col-sm-2 control-label">Артикул товара*</label>
                                    <div class="col-sm-10 articul_wrapper">
                                        <input type="number" class="form-control product_articul" value="<?php echo $product_articul;?>" name="product_post_articul">
                                        <p class="help-block help-articul">Артикул товара должен быть уникальным! Минимум 4 символа. Макс.254 символа</p>
                                    </div>
                                </div>
                                <!--
                                <div class="form-group">
                                    <label for="product_post_sef" class="col-sm-2 control-label">ЧПУ-ссылка*</label>
                                    <div class="col-sm-10">
                                        <textarea name="product_post_sef" rows="5" class="form-control"><?php echo $product_sef;?></textarea>
                                        <p class="help-block">В ЧПУ разрешены латинские буквы, цифры, тире(-) и знак нижнего пробела(_)</p>
                                    </div>
                                </div>
                                -->
                                <div class="form-group">
                                    <label for="product_post_title_for_client" class="col-sm-2 control-label">Title</label>
                                    <div class="col-sm-10">
                                        <textarea name="product_post_title_for_client" rows="5" class="form-control product_title"><?php echo $product_title_for_client;?></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="product_post_meta_description" class="col-sm-2 control-label">Meta Description</label>
                                    <div class="col-sm-10">
                                        <textarea name="product_post_meta_description" rows="5" class="form-control seo_description"><?php echo $product_meta_description;?></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="product_post_meta_keywords" class="col-sm-2 control-label">Meta Keywords</label>
                                    <div class="col-sm-10">
                                        <textarea name="product_post_meta_keywords" rows="5" class="form-control seo_keywords"><?=$product_post_meta_keywords?></textarea>
                                        <p class="help-block">Перечислите ключевые слова через запятую</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="product_post_price" class="col-sm-2 control-label">Цена*</label>
                                    <div class="col-sm-10 price-wrapper">
                                        <input type="text" class="form-control product_price" value="<?php echo $product_price;?>" name="product_post_price">
                                        <p class="help-block help-price">Минимум 2 символа. Макс. 254</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                        <label for="old_img" class="col-sm-2 control-label">Текущее изображение товара:</label>
                                        <div class="col-sm-10 img_in">
                                            <a href="<?php echo $product_img_url;?>" class="fancybox" rel="gallery1">
                                                <img src="<?php echo $product_img_url;?>" alt="" class="img-thumbnail loads" name="old_img"/>
                                            </a>
                                        </div>
                                </div>
                                <?php if(!$is_default_img){?>
                                <div class="form-group hide_if_default_img">
                                        <label class="col-sm-2 control-label">Удалить изображение?</label>
                                        <div class="col-sm-10">
                                            <label class="checkbox-inline text-danger bold default_img_click">
                                                    <input type="checkbox" id="inlineCheckbox1" value="true" name="delete_img"> Да, удалить(будет вставлено изображение по умолчанию)
                                            </label>
                                        </div>
                                </div>
                                <?php }?>
                                <div class="form-group">
                                    <label for="uploadfile" class="col-sm-2 control-label">Загрузить изображение(.jpg, .jpeg, .png, .gif)&le;2Мб</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control input-file" name="uploadfile">
                                        <p class="help-block">Если вы не выберите изображение, то оно будет подставлено по умолчанию</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="product_br_descr_textarea" class="col-sm-2 control-label">Краткое описание товара*</label>
                                    <div class="col-sm-10 ifr1">
                                        <textarea name="product_br_descr_textarea" id="product_br_descr_textarea" class="form-control product_br_descr" rows="10"><?=$product_br_description?></textarea>
                                        <p class="help-block help-br_descr">Минимум 20 символов.</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="product_full_descr_textarea" class="col-sm-2 control-label">Полное описание товара*</label>
                                    <div class="col-sm-10">
                                        <textarea name="product_full_descr_textarea" id="product_full_descr_textarea" class="form-control product_full_descr" rows="10"><?=$product_full_description?></textarea>
                                        <p class="help-block help-full_descr">Минимум 40 символов.</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-success">Обновить данные</button>
                                         <!--<button type="button" class="btn btn-success disabled">Обновить данные</button>-->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <?php }?>
            </div>